body {
    background-image: url("../../../../../../20210310065650id_/https_/media.svt.se/spel/drakens-varld/img/bg.gif");
    margin:0px;
    padding:0px;
}

#content {
}

.bgStyle {
    background-color: #ffffff;
    float: left;
    height:402px; 
}

img {
    border: none;
}